<!DOCTYPE html>
<html>
  <head>
    <title>ContactManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <link rel="preload" href="assets/application-d77779e9daff98be297784b659581d4d020bfaff7ed0c18ecc57cd62a13f2cb5.css" as="style">
    <link rel="stylesheet" href="assets/application-d77779e9daff98be297784b659581d4d020bfaff7ed0c18ecc57cd62a13f2cb5.css">
  </head>

  <body>
    <!-- navbar -->
    <%= render 'layouts/navbar'%>

    <!-- content -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= render 'layouts/sidebar' %>
        </div><!-- /.col-md-3 -->

        <div class="col-md-9">
          <%= render "layouts/messages" if !flash.empty? %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
